<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ocrtext">

    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true">
        <activity android:name=".OCR" />
    </application>

</manifest>